.Footer {
    background-color: var(--color-footer);
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}

.divider {
    min-height: 15px;
    background-color: var(--color-primary);
}
