.Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //padding: 200px 0px;
    min-height: 80vh;
}

.Home > div {
    margin: 20px;
}

@media (max-aspect-ratio: 1/1) {
    .Home {
        flex-direction: column-reverse;
        justify-content: start;
        padding: 0px 0px;
    }
}