.Home {
    max-width: 900px;
    min-width: 300px;
    margin: 50px auto 0px auto;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
}

.Button {
    gap: 20px;
    margin-right: 5px;
}

.IntroContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "Intro CandidContainer"
        "Desc CandidContainer";
    align-items: center;
    justify-items: center;
    // padding: 50px 0px;
    //margin: 50px 0px;
    gap: 5px;
    padding: 5px;
}

.IntroContainer div {
    //margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    background-color: white;
}

.IntroContainer div.Intro {
    grid-area: Intro;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.IntroContainer div.Desc {
    grid-area: Desc;
    margin: 0;
    text-align: left;
    p {
        margin-bottom: 0px;
    }
}

.IntroContainer .CandidContainer {
    grid-area: CandidContainer;
}

.CandidContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 33vh;
    max-height: 46vh;
    height: auto;
    border: solid var(--color-primary) 18px;
    border-radius: 15px;
}

.Candid {
    max-width: 30vh;
    height: auto;    
    border-radius: 6px;
    background-color: rgb(172, 190, 172);
}

.CoolEmoji {
    width: 70px;
    height: 55px;
    margin-left: 10px;
    vertical-align: middle;
}

.Myra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px 0px 60px 0px;
}

.MyraCandidContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30vh;
    height: auto;
    border: solid var(--color-primary) 10px;
    border-radius: 15px;
    margin: 20px 20px 0px 20px;
}

.MyraCandid {
    max-width: 20vh;
    height: auto;    
    border-radius: 5px;
    background-color: rgb(172, 190, 172);
}

.github-calendar-container {
    display: flex;
    justify-content: center;
    // transform: scale(1.1);
    margin: 30px 10px;
}

@media (orientation: portrait) {
    .Home {
        max-width: 100%;
        margin:  20px 0 0px 0;
    }
    .IntroContainer {
        grid-template-columns: 1fr;
        grid-template-areas:
            "Intro"
            "CandidContainer"
            "Desc";
        gap: 20px;
    }
    
    .Intro {
        flex-direction: column;
        justify-content: start;
        padding: 0px 0px;
        h5 {
            font-size: small;
        }
    }

    .IntroDesc {
        margin-top: 10px;
        font-size: 0.9rem;
        .CoolEmoji {
            width: 50px;
            height: 40px;
            margin-left: 5px;
        }
        p {
            margin-bottom: 0px;
        }
    }
    .IntroButtons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .Myra {
        flex-direction: column;
        justify-content: start;
        padding: 0px 0px;
    }
}