.Home {
    max-width: 80%;
    margin:  50px 25% 0px 25%;
}

.Intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // padding: 50px 0px;
    margin: 50px 0px;
    gap: 50px;
}

.CandidContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35vh;
    height: auto;
    border: solid var(--color-primary) 18px;
    border-radius: 25px;
}

.Candid {
    max-width: 30vh;
    height: auto;    
    border-radius: 6px;
    background-color: rgb(172, 190, 172);
}

.CoolEmoji {
    width: 70px;
    height: 55px;
    margin-left: 10px;
    vertical-align: middle;
}

.Myra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px 0px 60px 0px;
}

.MyraCandidContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30vh;
    height: auto;
    border: solid var(--color-primary) 10px;
    border-radius: 15px;
    margin: 20px 20px 0px 20px;
}

.MyraCandid {
    max-width: 20vh;
    height: auto;    
    border-radius: 5px;
    background-color: rgb(172, 190, 172);
}

.github-calendar-container {
    display: flex;
    justify-content: center;
    // transform: scale(1.1);
    margin: 30px 10px;
}

@media (orientation: portrait) {
    .Home {
        max-width: 90%;
        margin:  20px 5vh 0px 5vh;
    }
    .Intro {
        flex-direction: column;
        justify-content: start;
        padding: 0px 0px;
    }

    .Myra {
        flex-direction: column;
        justify-content: start;
        padding: 0px 0px;
    }
}