.Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //padding: 200px 0px;
    min-height: 80vh;
}

.CandidContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35vh;
    height: auto;
    border: solid var(--color-primary) 18px;
    border-radius: 25px;
}

.Candid {
    max-width: 30vh;
    height: auto;    
    border-radius: 6px;
    background-color: rgb(172, 190, 172);
}

.CoolEmoji {
    width: 70px;
    height: 55px;
    margin-left: 10px;
    vertical-align: middle;
}

.Home > div {
    margin: 40px;
}

@media (max-aspect-ratio: 1/1) {
    .Home {
        flex-direction: column-reverse;
        justify-content: start;
        padding: 0px 0px;
    }
}