.divider {
    min-height: 15px;
    background-color: var(--color-primary);
}

.navbar-brand {
    font-size: 1.5rem; // ~24px, adjust as needed
    font-weight: 700;
    color: white;
    padding: 0px 10px;
}

.navbar-collapse {
    .nav-link {
        margin-left: 15px;
        margin-right: 15px;
        color: white;
        font-size: 1.125rem; // ~18px, adjust as needed

        &:hover {
            color: var(--color-primary-hover);
        }

        &.active {
            color: var(--color-primary);
            font-weight: 600;
        }
    }

    .dropdown-menu {
        .dropdown-item {
            &:hover {
                color: var(--color-secondary-hover);
                background-color: transparent;
            }
        }
    }
}

