.WIP {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20% 20px;
}

.WIP img {
    max-width: 200px;
    height: auto;
}